@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  /* border: 1px solid red; */
  min-height: 100vh;
  display: flex;
  background-image: url("./Assets/photo2.png");
  background-size: cover;
  background-position: center;
}
